@font-face {
    font-family: Ogg;
    src: url('./fonts/OggRegular.woff2') format('woff2'),
        url('./fonts/OggRegular.woff') format('woff'),
        url('./fonts/OggRegular.otf') format('otf'),
        url('./fonts/OggRegular.ttf') format('ttf');
    font-weight: 400;
    font-display: fallback;

}

@font-face {
    font-family: Ogg;
    src: url('./fonts/OggLight.woff2') format('woff2'),
        url('./fonts/OggLight.woff') format('woff'),
        url('./fonts/OggLight.otf') format('otf'),
        url('./fonts/OggLight.ttf') format('ttf');
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: Ogg;
    src: url('./fonts/OggMedium.woff2') format('woff2'),
        url('./fonts/OggMedium.woff') format('woff'),
        url('./fonts/OggMedium.otf') format('otf'),
        url('./fonts/OggMedium.ttf') format('ttf');
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: Ogg;
    src: url('./fonts/OggMediumItalic.woff2') format('woff2'),
        url('./fonts/OggMediumItalic.woff') format('woff'),
        url('./fonts/OggMediumItalic.otf') format('otf'),
        url('./fonts/OggMediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'TradeGothic LT Extended';
    src: url('./fonts/Trade\ Gothic\ LT\ Extended.woff2') format('woff2'),
        url('./fonts/Trade\ Gothic\ LT\ Extended.woff') format('woff'),
        url('./fonts/Trade\ Gothic\ LT\ Extended.otf') format('otf'),
        url('./fonts/Trade\ Gothic\ LT\ Extended.ttf') format('ttf');
    font-display: fallback;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TradeGothic LT Extended', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0px;
}

h1 {
    text-decoration: none;
    font-weight: 400;
    font-family: 'Quattrocento', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 96px;
    text-align: center;
    line-height: 100px;
    margin: 75px 0px;
}

h2 {
    list-style-type: none;
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 21px;
    opacity: 0.55;
    margin: 0px;
}

a {
    text-decoration: none;
}

form label {
    font-family: 'Ogg';
    font-size: 16px;
    line-height: 150%;
    color: #000000;

}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    /* padding: 0px 60px; */
}

.form_container {
    max-width: 645px;
    padding: 100px 20px;


}

.booking {
    position: relative;
    width: 100%;

}

.booking h2 {
    display: none;
}


.title {
    font-weight: 400;
    font-family: 'Ogg';
    font-size: 60px;
    line-height: 107%;
    color: #000000;

}

.title span {
    font-style: italic;
}

.form_container p {
    padding-bottom: 100px;
}

.text {
    font-family: 'TradeGothic LT Extended';
    font-size: 16px;
    line-height: 175%;
    color: #71870E;
    opacity: 0.85;
}



/* Desktop */

@media screen and (min-width:1024px) {
    .booking {
        padding-left: 32.98%;
    }

    .booking h2 {
        position: absolute;
        display: block;
        top: 106px;
        left: 19.79%;
        font-family: 'TradeGothic LT Extended', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        line-height: 175%;
        color: #000000;
        opacity: 0.55;
    }

    p.text,
    .send {
        padding-left: 24.95%
    }



}

/* Mobile */

@media screen and (max-width: 1023px) {
    .form_container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_container {
        max-width: 645px;
        padding: 40px 20px;

    }

    .form_container p {
        padding-bottom: 30px;
    }
}