@font-face {
    font-family: Ogg;
    src: url('./fonts/OggRegular.woff2') format('woff2'),
        url('./fonts/OggRegular.woff') format('woff'),
        url('./fonts/OggRegular.otf') format('otf'),
        url('./fonts/OggRegular.ttf') format('ttf');
    font-weight: 400;
    font-display: fallback;

}

@font-face {
    font-family: Ogg;
    src: url('./fonts/OggLight.woff2') format('woff2'),
        url('./fonts/OggLight.woff') format('woff'),
        url('./fonts/OggLight.otf') format('otf'),
        url('./fonts/OggLight.ttf') format('ttf');
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: Ogg;
    src: url('./fonts/OggMedium.woff2') format('woff2'),
        url('./fonts/OggMedium.woff') format('woff'),
        url('./fonts/OggMedium.otf') format('otf'),
        url('./fonts/OggMedium.ttf') format('ttf');
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: Ogg;
    src: url('./fonts/OggMediumItalic.woff2') format('woff2'),
        url('./fonts/OggMediumItalic.woff') format('woff'),
        url('./fonts/OggMediumItalic.otf') format('otf'),
        url('./fonts/OggMediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'TradeGothic LT Extended';
    src: url('./fonts/Trade\ Gothic\ LT\ Extended.woff2') format('woff2'),
        url('./fonts/Trade\ Gothic\ LT\ Extended.woff') format('woff'),
        url('./fonts/Trade\ Gothic\ LT\ Extended.otf') format('otf'),
        url('./fonts/Trade\ Gothic\ LT\ Extended.ttf') format('ttf');
    font-display: fallback;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TradeGothic LT Extended', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 20px; */
    margin: 0px;
}

h1 {
    text-decoration: none;
    font-weight: 400;
    font-family: 'Quattrocento', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 96px;
    text-align: center;
    line-height: 100px;
    margin: 75px 0px;
}

h2 {
    list-style-type: none;
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 21px;
    opacity: 0.55;
    margin: 0px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    /* padding: 0px 60px; */
}

.form_container {
    max-width: 645px;
    padding: 100px 20px;


}

.booking {
    position: relative;
    width: 100%;

}

.booking h2 {
    display: none;
}


.form__title {
    font-weight: 400;
    font-family: 'Ogg', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    line-height: 107%;
    color: #000000;

}

.form__title span {
    font-style: italic;
}

.form_container p {
    padding-bottom: 100px;
}

.text {
    font-family: 'TradeGothic LT Extended', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 175%;
    color: #71870E;
    opacity: 0.85;
}

.form__label,
.form__input,
.form_checkbox__label {
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
}

.form__label,
.form_checkbox__label {
    font-family: 'Ogg', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form__label {
    font-weight: 400;
}

.form__input {
    font-family: 'TradeGothic LT Extended', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 100%;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;

    margin-top: 20px;
}

.form__input::placeholder {
    color: #C4C4C4;
    opacity: 0.7;
}

.form__group {
    /* position: relative; */
    margin-bottom: 50px;
}

.form__group:last-child {
    margin-bottom: 0px;
}

.select,
.form_checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}

/* Select */

.select {
    color: #d4d4d4;
    width: 100%;
}

.select::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 15.5px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;

    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    pointer-events: none;
}

/* Checkbox */

.checkbox {
    position: relative;
}

.form_checkbox__input {
    position: absolute;
}

.form_checkbox__label {
    font-weight: 300;
    padding-left: 35px;
}

.form_checkbox__label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #808080;
    border-radius: 3px;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.form_checkbox__label:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url(#) no-repeat;
    background-size: 18px 18px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.form_checkbox__input:checked+.form_checkbox__label:before {
    background-color: #C4C4C4;
}

.form_checkbox__input:checked+.form_checkbox__label:after {
    opacity: 1;
}

/* треба додати файл з маркером-галочкою */




/* Button "Send" */


.button {
    height: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.button_line {
    margin-right: 30px;
    display: block;

}

.button label {
    cursor: pointer;
}

#send {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #D0A049;

    cursor: pointer;
    display: block;

}


/* Desktop */

@media screen and (min-width:1024px) {
    .booking {
        padding-left: 32.98%;
    }

    .booking h2 {
        position: absolute;
        display: block;
        top: 106px;
        left: 19.79%;
        font-family: 'TradeGothic LT Extended', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        line-height: 175%;
        color: #000000;
        opacity: 0.55;
    }

    p.text,
    .send {
        margin-left: 24.95%
    }



}

/* Mobile */

@media screen and (max-width: 1023px) {
    .form_container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_container {
        max-width: 645px;
        padding: 40px 20px;

    }

    .form_container p {
        padding-bottom: 30px;
    }

    .form__title {
        text-align: center;
    }

    .button {
        justify-content: center;
    }

    p.text {
        margin-left: 24.95%
    }

    .form__group {
        /* position: relative; */
        margin-bottom: 30px;
    }

    .form__input {
        margin-top: 15px;
    }
}